*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ACCESSIBILITY */

.sr-only {
    visibility: hidden;
}

/* TYPOGRAPHIE */

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%
}

.nav-link {
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
    color: #FFFFFF;
}

.nav-link:hover {
    color:#12F910;
    font-weight: 900;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    background-color: #000000;
    color: #FFFFFF;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
    max-height: 4rem;
}

.logo-container{
    /* border: 2px dotted pink; */
}

.logo-size{
    width: 150px; 
    object-fit: cover;
    transition: .5s;
}

.link-container{
    display: flex;
    flex-direction: column;
    align-items: right;
    list-style: none;
    gap: 1.5rem;
}

.mobile-nav-toggle{
    display: none;
}

@media (max-width: 750px) {

    .link-container{
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        padding: min(30vh, 10rem) 2rem;
        background-color: rgba(10, 9, 9, 0.8);
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .link-container[data-visible="true"]{
        transform: translateX(0%);
    }

    .mobile-nav-toggle{
        display: block;
        position: absolute;
        border: none;
        background-color: pink;
        /* background-image: url('/images/menu.png'); */
        background-repeat: no-repeat;
        width: 2rem;
        aspect-ratio: 1;
        top: 1rem;
        right: 1rem;
        z-index: 9999;
        transition: 0.5s;
    }

    .mobile-nav-toggle[aria-expanded='true']{
        background: red;
    }
}

@media (min-width: 750px) {
    .header-container{
        margin: 0 auto;
        flex-direction: row;
        max-height: 4rem;
    }

    .nav-link {
        margin-left: 2em;
    }

    .link-container {
        display: flex;
        flex-direction: row;
    }    
}

/* SECTIONS */
/* main {
    height: 100%;
}
section {
    height: 100vh;
} */

/* HOME */

#home {
    width: 90%;
    margin: 0 auto;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 5px solid red;  */
}

.catch-phrase {
    font-size: 3em;
    border-left: 4px solid #12F910;
    border-bottom: 4px solid #12F910;
    padding-left: 0.2em;
}

.home-pic {
    width: 90%;
    padding-top: 2rem;
    max-height: 500px;
    object-fit: cover;
}

/* Home querie */

@media (min-width: 1100px) {
    #home {
        width: 90%;
        padding-top: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .catch-phrase {
        font-size: 4em;
    }

    .home-pic {
        /* display: block; */
        padding-top: 0;
        width: 760px;
        max-height: 100%;
        object-fit: cover;
    }

}

/* PREISE */

#price {
    width: 90%;
    margin: 0 auto;
    padding-top: 4rem;
}

.price-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.price-pic{
    padding: 2rem 2rem 2rem 2rem;
    width: 100%;
}

.price-h2{
    display: inline;
    border-bottom: 4px solid #12F910;
}

.price-txt{
    padding-top: 1rem;
}

.price-p{
    padding-top: 1rem;
}


@media (min-width: 1100px) {
    .price-container {
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }

    .price-pic{
        width: 200%;
    }
}


/* partner*innen */

#partnerinnen{
    width: 90%;
    margin: 0 auto;
    padding-top: 4rem;
}

.part-h2{
    display: inline;
    border-bottom: 4px solid #12F910;
}

.part-p{
    padding-top: 1rem;
}



.part-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* border: 1px solid red; */
    align-items: center;
    justify-items: center;
}

.part-grid img{
    object-fit: cover;
}

.grid-item-1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    /* max-height: 200px; */
}
.grid-item-2{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    /* max-height: 50px; */
}
.grid-item-3{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    /* max-height: 50px; */
}
.grid-item-4{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    /* max-height: 50px; */
}
.grid-item-5{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    /* max-height: 50px; */
}
.grid-item-6{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
    /* max-height: 50px; */
}
.grid-item-7{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
    /* max-height: 50px; */
}
.grid-item-8{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 9;
    /* max-height: 50px; */
}
.grid-item-9{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 10;
    /* max-height: 50px; */
}

@media (min-width: 740px){
    .part-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        /* border: 1px solid red; */
    }

    .grid-item-1{
        /* border: 1px solid green; */
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        max-height: 200px
    }
    .grid-item-2{
        /* border: 1px solid green; */
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        max-height: 80px;
    }
    .grid-item-3{
        /* border: 1px solid green; */
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        max-height: 100px;
    }
    .grid-item-4{
        /* border: 1px solid green; */
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        max-height: 150px;
    }
    .grid-item-5{
        /* border: 1px solid green; */
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        max-height: 150px;
    }
    .grid-item-6{
        /* border: 1px solid green; */
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        max-height: 150px;
    }
    .grid-item-7{
        /* border: 1px solid green; */
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        max-height: 150px;
    }
    .grid-item-8{
        /* border: 1px solid green; */
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        max-height: 80px;
    }
    .grid-item-9{
        /* border: 1px solid green; */
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        max-height: 80px;
    }

}

/* kontakt */

#kontakt{
    width: 90%;
    margin: 0 auto;
    padding-top: 4rem;
}

.kontakt-h2{
    display: inline;
    border-bottom: 4px solid #12F910;
}

.kontakt-container{
    margin-top: 2rem;
    border: 4px solid red;
    display: flex;
    flex-direction: row;
}

.kontakt-txt{
    width: 50%;
}

.kontakt-form{
    width: 50%;
}

/* footer */

footer{
    background-color: #000000;
    color: #FFFFFF;
}

.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socials{
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 2rem 0 2rem 0;
}

.socials a{
    color: #FFFFFF;
}