*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ACCESSIBILITY */

.sr-only {
    visibility: hidden;
}

/* TYPOGRAPHIE */

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%
}

.nav-link {
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
    color: #FFFFFF;
}

.nav-link:hover {
    color:#12F910;
    font-weight: 900;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    background-color: #000000;
    color: #FFFFFF;
}

.header-container {
    border: 2px dotted pink;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
}

.logo-container{
    /* border: 2px dotted pink; */
}

.logo-size{
    border: 2px dotted orange;
    width: 150px; 
    object-fit: cover;
    transition: .5s;
}

.link-container{
    display: flex;
    flex-direction: column;
    align-items: right;
    list-style: none;
    gap: 1.5rem;
}

.mobile-nav-toggle{
    display: none;
}

@media (max-width: 750px) {

    .link-container{
        /* border: 2px dotted green; */
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        padding: min(30vh, 10rem) 2rem;
        background-color: rgba(10, 9, 9, 0.8);
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .link-container[data-visible="true"]{
        transform: translateX(0%);
    }

    .mobile-nav-toggle{
        display: block;
        position: absolute;
        background-color: pink;
        /* background-image: url('/images/menu.png'); */
        background-repeat: no-repeat;
        width: 2rem;
        border: 2px dotted pink;
        aspect-ratio: 1;
        top: 1rem;
        right: 1rem;
        z-index: 9999;
    }

    .mobile-nav-toggle[aria-expanded='true']{
        background: red;
    }
}

@media (min-width: 750px) {
    .header-container{
        border: 2px solid red;
        margin: 0 auto;
        flex-direction: row;
        max-height: 4rem;
    }

    .nav-link {
        margin-left: 2em;
    }

    .link-container {
        display: flex;
        flex-direction: row;
    }    
}

/* SECTIONS */
/* main {
    height: 100%;
}
section {
    height: 100vh;
} */

/* HOME */

#home {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 5px solid red;  */
}

.catch-phrase {
    font-size: 3em;
    border-left: 4px solid #12F910;
    border-bottom: 4px solid #12F910;
    padding-left: 0.2em;
}

.home-pic {
    /* display: block; */
    width: 90%;
    max-height: 500px;
    object-fit: cover;
    /* border: 5px dotted black;  */
}

/* Home querie */

@media (min-width: 1100px) {
    #home {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .catch-phrase {
        font-size: 4em;
    }

    .home-pic {
        /* display: block; */
        width: 760px;
        max-height: 100%;
        object-fit: cover;
    }

}

/* PREISE */

#preise {
    width: 90%;
    margin: 0 auto;
}

.price-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


@media (min-width: 750px) {
    .price-container {
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }

    .price-pic {
        width: 80%%;
    }

}
